@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Playfair+Display&family=Satisfy&family=Vidaloka&family=Xanh+Mono&display=swap');

nav{
    font-family: "Vidaloka", sans-serif;
}

  #heroimage{
      height:600px;
      width: 100%;
      background: url(images/Salon5.jpg) center center; 

      background-repeat: no-repeat;
      background-size: cover;

    
  }


  #messagetext{
color:;
    font-size: 130%;
    font-family: "Vidaloka", sans-serif;
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    

    text-align: center;
    bottom: 70px;
    right: 70px;
    position: absolute;


  }

  .secondimage{
      background: url(images/Salon3.jpg);
      height:300px;
      width: 32%;
       background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
  }

.about-us{
    font-family: "Vidaloka", sans-serif;
    text-align: center;
    margin-top: 30px;
}

/* -----------------------------------------------------------------------footer*/


