@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Playfair+Display&family=Satisfy&family=Vidaloka&family=Xanh+Mono&display=swap');

/*_____________________________________________________General, colors, fonts*/

.generalfont{
    font-family: "Vidaloka", sans-serif;  
}

/*______________________________________________________Nav*/

nav{
     font-size: 15px;
     letter-spacing: 1px; 
  }

  #navlist a:hover{
     border-bottom:1px solid #fafafa;
  }

  
/*______________________________________________________Section1*/


  #heroimage{
      height:600px;
      width: 100%;
      background: url(images/Salon5.jpg) center center; 
      background-repeat: no-repeat;
      background-size: cover;
  }

  #messagetext{
    font-size: 130%;
    font-family: "Vidaloka", sans-serif;
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    text-align: center;
    bottom: 70px;
    right: 70px;
    position: absolute;
    color:#301919;
    font-weight: 200;
  }

  /*__________________________________________________________________Section2*/

  #secondimage{
    background: url(images/Salon3.jpg);
    height:350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px; 
  }

.about-us{
    font-family: "Vidaloka", sans-serif;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px; 
}

/*____________________________________________________Section3*/

#thirdimage{
    background: url(images/Salon4.jpg);
    height:350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px; 
  }

  #reviews {
    font-family: "Vidaloka", sans-serif;
    text-align: center;
    padding-top: 40px; 
}

 #reviews i{
    color: yellow; 
}

/* -----------------------------------------------------------------------footer*/

footer{
    background-color:#343a40;
    color: #fafafa;
    min-height: 120px;
    text-align: center;
    padding-top: 10px;
}

.connect{
    padding-top: 25px;
}

.connect li a i{
    width: 40px;
    height: 40px;
    color: #fafafa;
    padding: 12px 0;
    font-size: 20px;
    line-height: 7px;
    text-align: center; 
}

hr {
  width: 80%;
  color:#fafafa;
  border-width: 1px;
  border-color: #fafafa;
}

/*_____________________________________________________Gallery.html*/
.imagegallery{
 margin-top: 30px; 
 margin-bottom: 30px;
}

#gallery1{
 background: url(images/Salon11.jpg);
  height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 
}

#gallery2{
 background: url(images/Salon6.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#gallery3{
 background: url(images/Salon17.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#gallery4{
 background: url(images/Salon7.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#gallery5{
 background: url(images/Salon8.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#gallery6{
 background: url(images/Salon9.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

#gallery7{
 background: url(images/Salon10.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#gallery8{
 background: url(images/Salon13.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

#gallery9{
 background: url(images/Salon12.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

#gallery10{
 background: url(images/Salon14.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

#gallery11{
 background: url(images/Salon15.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

#gallery12{
 background: url(images/Salon18.jpg);
 height: 350px;
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}